


/* GRID STRUCTURE */

body{
	background-color: $cBody;
}


.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 1.5rem 0rem;
	@extend .clearfix;
}

h1, h2, h3 {
	font-family: 'Bitter', serif;
	text-align: center;
}

p, label {
	font-family: 'Raleway', sans-serif;
	text-align: center;	
}


header{
	height: 100vh;
	background-image: url("../images/header-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	// background-color: #0111FF;

	#logo{
		text-align: center;
		padding: 1rem;
		width: 450px;
	}


	h1{
		color: #FFF;
		
	}

	p{
	
		color: #FFF; 
		font-size: 1.25rem;
		line-height: 1.25;
		padding: 1rem 3rem;
	}
	
	// Switching text container to cover the full screen
	@media only screen and (max-width: $BreakPoint1){		
		.grid-half {
		width: 100%;
		float: none;
		}

		p{display: none;}
		
	}

}

.how-it-works{

	@media only screen and (max-width: $BreakPoint2){		
		.grid-third {
		width: 100%;
		float: none;
		}

		.icon-container{
			padding: 0;
			text-align: center;
		}

		img{
			width:40%;
			text-align: center;
		}

	}

}


.colored-section{
		color: #FFF;
		// background-color: $cDarkSection;
	}

.light-section{
		background-color: $cLightSection;
}

img{
	width:100%;
}

.icon-container{
	padding: 0 20%;
}

.row{
	@extend .clearfix;
	}

.grid-half{
	width: 50%;
	float:left;
	text-align: center;
	padding: $gutter;
}

.grid-third{
	width: 33.33%;
	float: left;
	padding: $gutter;
}

.grid-two-third{
	width: 66.66%;
	float:left;
	padding: $gutter;
}

.grid-quarter{
	width: 25%;
	float:left;
	text-align: center;
	padding: $gutter;
}

.grid-sixth{
	width: 16.67%;
	float:left;
	padding: $gutter;
}


.form-field, .clear{
		display: inline-block;
	}

footer{
	margin: 0;
	background-color: $cFooter;

	@media only screen and (max-width: $BreakPoint1){
		.grid-third{
			width: 100%;
		}

		.grid-half{
			width: 66.66%;
		}

		.grid-sixth{
			width: 33.33%;
		}		
	}

}

input{
	color: #000;
	width: 100%;
	height: 2rem;
	padding: 0.5rem;
}

#submit{
	border: 2px solid white;
	color: #FFF;
	border-radius: 1rem;		
	background-color: $cButton;
	padding: 0px;
}


