


/* GRID STRUCTURE */

.site-container {
	max-width: 800px;
	margin: 0 auto;
}

.site-header {
	color: white;
	background-color: darkblue;
	@extend .clearfix;

}
.site-header h1 {
	color:red;
}
.site-content {

}
.site-footer {

}

section, .row{
	border: 1px solid gray;
	// margin: 0 -$gutter;
	@extend .clearfix;
}

// .col{
// 	padding: $gutter;
// 	float: left;
// }


.grid-half{
	width: 50%;
	float:left;
	border: 1px solid gray;
	text-align: center;
}

.grid-third{
	width: 33.33%;
	float: left;
	border: 1px solid gray;
}

.grid-two-third{
	width: 66.66%;
	float:left;
	border: 1px solid gray;
}

.site-footer{
	border: 1px solid gray;
}

nav ul{
	text-align: right;
}

nav li {
	font-size: 18px;
	display: inline-block;
	padding: 1em 1rem;
}

.book-row{
	@extend .clearfix;
}

.book-details{
	@extend .clearfix;
}

.show{
	display:inline-block;
}

.hide{
	display:none;
}

.book-small{
	width: calc(100%/6);
	padding: 0.25rem;
	float:left;
}

.friend-picture img{
	border-radius:100%;
}


