


/* GRID STRUCTURE */



.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 1.5rem 0rem;
	@extend .clearfix;
}

header{
	
	background-color: #0111FF;

	h1{
		text-align: center;
		color: #FFF;
		margin: 0;
		padding: 3rem;
		font-family:'Amatic SC', cursive;
		font-size: 3rem;
	}
	
}

section{
	h2{
		text-align: center;
	}
}

.colored-section{
		background-color: $cSection;
	}

img{
	width:100%;
}

.icon-container{
	padding: 0 20%;
}


h4{
	text-align: center;
}

.grid-half{
	width: 50%;
	float:left;
	text-align: center;
	padding: $gutter;
}

.grid-third{
	width: 33.33%;
	float: left;
	padding: $gutter;
}

.grid-two-third{
	width: 66.66%;
	float:left;
	padding: $gutter;
}




