/* VARIABLES */



/* VARIABLES - COLORS */ 
$cBody: #A63B19;
$cHeader: #0111FF;
$cCTA: #FF611B;
$cSection: #7BA687;
$cFooter: #323AB2;
$cSpare: #4ECC16;
$cBookBackground: #4C3E29;
$cBookText: #B3B3B3;


// New colors
// #591B07
// #F2693D
// #A63B19
// #005943
// #19A683


/* VARIABLES - GRID STRUCTURE VARIABLES */
$gutter: 1rem;


