/* VARIABLES */



/* VARIABLES - COLORS */ 
$cBody: #A63B19;
$cDarkSection: #A63B19;
$cLightSection: #FFF;
$cBookBackground: #005943;
$cBookText: #B3B3B3;
$cFooter: #591B07;


// New colors
// #591B07 - dark red
// #F2693D - pink red
// #A63B19 - reddy brown
// #005943  - dark green
// #19A683  - light green


/* VARIABLES - GRID STRUCTURE VARIABLES */
$gutter: 1rem;


