/* VARIABLES */

// Breakpoint for header text, logo and image
$BreakPoint1: 650px;
// Breakpoint for collapsing value proposition
$BreakPoint2: 510px; 

/* VARIABLES - COLORS */ 
$cBody: #A63B19;
$cDarkSection: #A63B19;
$cLightSection: #FFF;
$cBookBackground: #005943;
$cBookText: #FFF;
$cFooter: #005943;
$cButton: #591B07;


// New colors
// #591B07 - dark red
// #F2693D - pink red
// #A63B19 - reddy brown
// #005943  - dark green
// #19A683  - light green


/* VARIABLES - GRID STRUCTURE VARIABLES */
$gutter: 1rem;


